/* BASIC STYLES HERE */
body {
    background-size: cover;
    background-position: center;
    color: white;
    font-family: 'PT Sans', sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
    font-weight: bold;
}

.clock {
    font-family: 'PT Sans', sans-serif;
    color: white;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 65px;
    text-shadow: 2px;
    padding: 2px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
    margin-bottom: 40px;
    /* margin-top: 5px; */
}

.clock:hover {
    background-color: rgba(0, 0, 0, 0.547);

}

.weather {
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
    /* background-color: rgba(0, 0, 0, 0.208); */
    /* opacity: .7; */
    font-weight: bold;

}

.weather:hover {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.547);
}

.todo {
    background-color: rgba(0, 0, 0, 0.404);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
    margin-top: -5vh;
}

.todo:hover {
    background-color: rgba(0, 0, 0, 0.547);
    /* opacity: .9; */
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
}

.offcanvas {
    background-color: rgba(0, 0, 0, 0.547);
}

footer {
    font-family: 'PT Sans', sans-serif;

}

.right {
    text-align: right;
}

.quote {
    font-weight: bold;
    padding-top: 10px;
    margin: 20px;
    margin-bottom: -10px;
}

.quote:hover {
    background-color: rgba(0, 0, 0, 0.547);

}